{% extends 'base.html.twig' %}



{% block body %}



<section>
    <div>
        <img class="background" src="assets/images/creafleurs.jpeg" alt="legumes">
        <div class="home text-sm-center text-xs-center text-center">
            <span class="text mt-5 text-baby text-center">
                <span id="typedtext" class="reveal-3 text-center">
                </span>
            </span>

            <a href="contact.php" class="btn btn-cyclamen">Nous contacter</a>
        </div>
    </div>
</section>






<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-6 col-xl-12">
            <div class="rounded img-header mt-5">
                <img class="img opacity-100" src="assets/images/creafleurs.jpeg" alt="">
            </div>
        </div>

        <div class="col-xs-12 col-md-12 col-lg-6 col-xl-12">
            <div class="text mt-5 text-baby">
                <div id="typedtext" class="reveal-3"></div>
            </div>

        </div>
    </div>

</div>


<section>

    <div class="horaires p-5">
        <h1>Nos horaires d'ouverture</h1>



    </div>
</section>





{% endblock %}