{% extends 'base.html.twig' %}



{% block body %}


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
            <div class="opacity-25 rounded img-header mt-5">
                <img class="img opacity-100" src="assets/images/creafleurs.jpeg" alt="">
            </div>



            <div class="text mt-5 ">
                <div id="typedtext" class="reveal-3"></div>
            </div>
        </div>
    </div>
</div>


<section>

    <div class="horaires p-5">
        <h1>Nos horaires d'ouverture</h1>



    </div>
</section>





{% endblock %}