<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Accueil{% endblock %}Chrysiris</title>

    <meta name="description"
        content="Boutique de fleurs à Figeac. Fleuristes depuis plus de 30 ans, 
    nous mettons notre savoir-faire en oeuvre afin de vous accompagner dans les petites ou les grandes occasions de votre vie.">
    <meta name="author" content="Chrysiris Fleurs">
    <meta property="og:description"
        content="Boutique de fleurs à Figeac. Fleuristes depuis plus de 30 ans, 
  nous mettons notre savoir-faire en oeuvre afin de vous accompagner dans les petites ou les grandes occasions de votre vie.">
    <meta property="og:site_name" content="Chrysiris Fleurs">

    {#
    <link rel="canonical" href="">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.bertille-de-almeida.com/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.bertille-de-almeida.com/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.bertille-de-almeida.com/images/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="https://www.bertille-de-almeida.com/images/favicon.ico">
    <link rel="icon" type="image/vnd.icon" href="https://www.bertille-de-almeida.com/images/favicon.ico">
    <link rel="manifest" href="images/site.webmanifest">
    <link rel="icon" type="image/webp" href="https://www.bertille-de-almeida.com/images/logo_b.webp" />
    <link rel="shortcut icon" href="images/logo_b.webp" sizes="32x32" type="image/webp">
    <link rel="preload" as="font"> #}

    <link rel="icon" href="assets/images/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    {# Feuilles de style #}
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/scss/bootstrap.css') }}">
    {% block stylesheets %}

    {% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

    {# Fichier js #}
    <script src="{{ asset('assets/js/script.js') }}" defer></script>
    <script src="{{ asset('assets/bootstrap/js/bootstrap.bundle.min.js') }}" defer></script>
    {% block javascripts %}
    {% endblock %}
</head>

<body>
    {% include "_partials/_nav.html.twig" %}
    {% block body %}{% endblock %}
    {% include "_partials/_footer.html.twig" %}

</body>

</html>